$yellow: #fffa19;
$rojo:#FF0808;
$verde: #08FF2C;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 10px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	padding: 0px 0px 2px 0px;
}

.btn-reporte{
	width: 100%
}

.footer-adress-icon {
		padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}