.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  padding: 0px 0px 2px 0px; }

.btn-reporte {
  width: 100%; }

.footer-adress-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
