@yellow: #fffa19;

.jumbotron {
	background-color: @yellow;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: @yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-hotel{
	flex: 1 200px;
	padding: 0px 0px 2px 0px;
}

.btn-reporte{
	width: 100%
}

.footer-adress-icon {
		padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}